.brand-logo {
	height: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}
body>.container{
	margin-top: 40px;
}
body {
	background-image: url('../images/kochibg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.card{
	border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	-webkit-border-radius: 20px !important;
}
.card-content {s
	border-radius: 0px 0px 20px 20px !important;
	-moz-border-radius: 0px 0px 20px 20px !important;
	-webkit-border-radius: 0px 0px 20px 20px !important;
}
#maintext{
	font-size: 20px !important;
	font-weight: 200;
}
h2{
	margin: 5px 0px 5px 0px;
}
.formrow{
	margin-bottom: 0px !important;
}
#message{
	color: red;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}